.SafeSectretsMainTab{
    width: 100%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-bottom: 2.5%;
    height: 100%;
    background-image: linear-gradient(to bottom, #151820, #2c3040);
}
.SafeSecretsTopBar
{
    width: 100%;
    display: flex;
  
}
.SecretBox{
    padding:1rem 1rem;
        font-family: Helvetica;
        font-size: 0.7rem;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color:
        #5e627c;
        cursor: pointer;
        z-index: 2;
        position: relative;
        
    border-bottom: 3px solid #222632;
}
.SecretBox:focus{
    border: 3px solid pink;
    
}
.SecretBox:hover{
    border-bottom: 3px solid 
    #e20074;
    z-index: 2;
    color: #fff;

}
.folder{
    width: 100%;
    border-bottom: 3px solid #222632;
    display: flex;
    justify-content: end;
    height: 3rem;
    padding :0;
    align-items: center;
}
.folder:hover{
    border-bottom: 3px solid 
    #222632;
}
.FolderImage{
    height: 100%;
    padding :3%;
}
.secrets__count
{font-size: 0.8125rem;
margin: 0.8125rem 0;
color: #5e627c;}

.secrets__caption-highlight {
    color: #fff;
}
.availaibleFolder{
height: calc(100% - 6rem);
}