.secretFormMainTab{
    position: absolute;
left: 0;
width: 100%;
height: 100vh;
overflow: hidden;
top:0;
display: flex;
justify-content: center;
align-items: center;
z-index: 50;
background-color: rgba(0,0,0,0.7);
}
.secrets-form {
    background: #2a2e3e;
    padding: 3.75rem;
  
    z-index: 53;
    font-family: "Roboto", sans-serif;
    font-size: 1.4rem;
    color: #fff;
  }
  .secrets-form__heading {
    margin-bottom: 1rem;
  }
  
  .secrets-form__button-group {
    display: flex;
    justify-content: flex-end;
    margin-top: 3.125rem;
  }
  
  @media screen and (max-width: 1000px) {
    .secrets-form {
      width: 80%;
    }
  }
  
  @media screen and (max-width: 424px) {
    .secrets-form {
      width: 95%;
      padding: 1rem;
    }
  }
  