.EmptySecretMainTab{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.ImageBoxSafeSecret{
  
    height: 20vh;
}
.secrets__caption
{color: #5e627c;
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
font-weight: 200;
font-size:0.87rem}

.secrets__caption-highlight {
    
font-weight: 200;
    color: #fff;
    padding: 0;
}
.secrets__caption>span{
    padding: 0;
}