.select-group {
  margin: 0px;
  margin-bottom: 0.5rem;
  font-size: 0.7rem;display: flex;
  flex-direction: column;
 
  }
  label{
    display:inline-block;
    
  }
  .select {
    outline: none;
    display: block;
    width: 100%;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    outline: none;
    display: block;
    width: 100%;
    padding: 0.7rem;
    margin-top: 0.5rem;
    font-size: 0.7rem;
    resize: none;
  }
  